.nav__container {
   padding-left: 20px;
   margin-bottom: 17px;
}

.nav__breadcrumbs-list {
   display: flex;
}

.nav__breadcrumbs-item {
   font-size: 16px;
   color: #331A2F;
   opacity: 0.5;

   &:before {
      content: "-";
      margin: 0 8px;
   }

   &:first-child:before {
      content: "";
      margin-right: 0;
   }
}