.courses__container {
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   padding-left: 28px;
   margin-bottom: 134px;
}

.courses__about {

   &-title {
      font-weight: 700;
      font-size: 56px;
      line-height: 80px;   
      width: 880px;
      margin-bottom: 22px;
   }

   &-img {
      flex-shrink: 0;
   }

   &-descr {

      &--price {
         display: flex;
         align-items: center;
         margin-bottom: 20px;

         &_text {
            font-size: 30px;

            &-pink {
               color: #cf51ce;
               text-transform: uppercase;
               font-weight: 600;
               display: inline-block;
               font-size: 38px;
               margin-right: 2px;
            }
         }
      }

      &--text {
         font-size: 25px;
         line-height: 40px;
         color: #331a2f;
         opacity: 0.8;
         width: 868px;
         margin-bottom: 16px;
      }
      
   }

   &-img {
      background-image: url("../Img/Bg stars.png");
      background-position: bottom left;
      background-repeat: no-repeat;
   }
}

.title-pink {
   color: #cf51ce;
}

.price-icon {
   width: 48px;
   height: 47px;
   margin-right: 25px;
}