.header__container {
   justify-content: space-between;
   padding-top: 48px;
   padding-left: 30px;
}

.header__logo {
   display: flex;
}

.header__link {
   display: inline-block;
   margin-right: 42px;
}

.header-text {
   margin-right: 49px;
   width: 185px;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   position: relative;
}

.header-text::before {
   content: "";
   position: absolute;
   width: 1px;
   height: 80px;
   background-color: #331a2f;
   opacity: 0.5;
   left: -26px;
   top: -13px;
}

.header__list {
   display: flex;
   padding-top: 14px;
}

.header__list-item {
   font-weight: 400;
   font-size: 24px;
}

.item-drodpown {
   margin-right: 77px;
   position: relative;
}

.item-drodpown::after  {
   content: "";
   position: absolute;
   background-image: url("../Img/icons/dropdown.svg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   right: -26px;
   width: 13px;
   height: 12px;
   top: 11px;
   cursor: pointer;
}

.header__contact {
   padding-top: 3px;
}

.header__contact-link {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   position: relative;
}

.header__contact-link::before {
   content: "";
   position: absolute;
   width: 24px;
   height: 24px;
   background-image: url("../Img/icons/phone.svg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   top: 2px;
   left: -34px;
}

.header__btn {
   background-color: #cf51ce;
   color: #fff;
   border-radius: 12px;
   border: none;
   font-weight: 500;
   font-size: 23px;
   letter-spacing: 0.02em;
   padding: 9px 31px;
   margin-left: 90px;
   text-align: center;
}

.icon-btn_icon {
   width: 23px;
   height: 25px;
   margin-right: 14px;
   vertical-align: middle;
}