.history__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-left: 138px;
   align-items: flex-start;
   margin-bottom: 135px;
}

.history-title {
   font-weight: 700;
   font-size: 48px;
   line-height: 64px;
   color: #331a2f;
   width: 884px;
   text-align: center;
   margin-bottom: 83px;
   margin-left: 237px;
}

.history-img {
   margin-right: 83px;
}

.history__about {
   display: flex;
   align-items: center;

   &-descr {
      width: 750px;
      font-weight: 400;
      font-size: 25px;
      line-height: 40px;
      color: #331a2f;
      opacity: 0.8;

      &--left {
         margin-right: 100px;
      }
   }
}